@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea {
  @apply border-2 border-gray-400 rounded-md px-1 w-full;
  @apply mb-2;
}
input:focus,
textarea:focus {
  @apply border-blue-500;
}
h1 {
  @apply text-blue-950 mb-2 text-2xl font-bold;
}
label {
  @apply text-blue-950 mb-1 text-lg font-bold;
}
.btn-primary {
  @apply text-white px-4 py-2 rounded-md  hover:bg-blue-600;
}
table.basic {
  @apply border-separate w-full border-2 border-gray-400 rounded-lg;
}
table.basic thead tr th {
  @apply bg-blue-100 border-none; 
}
table.basic tr td {
  @apply px-2 py-1 border-r-2 border-t-2 border-gray-400 ;
}
table.basic tr td:last-child {
  @apply border-r-0 ;
}
table.basic a {
  @apply bg-blue-500 text-white text-sm px-2 mr-1 py-1 rounded-md hover:bg-blue-700 hover:text-white inline-flex ;
}
table.basic tbody tr td.btns {
  @apply w-44 ;
}
img.imgUpload{
  @apply rounded-md w-24 object-cover max-h-full;

}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
/* 
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
